.button {
  width: 100%;
}

.button button {
  width: 100%;
  padding: 10px;

  background-color: var(--layout-color-green);
  border: none;
  border-radius: 5px;

  color: var(--color-white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.025em;

  transition: box-shadow .3s;
}

.button button:hover {
  box-shadow: 0 0 3px var(--layout-color-dark);
  cursor: pointer;
}