.input {
  width: 100%;
}

.input input {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 5px;
  outline: none;

  color: var(--layout-color-input);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.025em;
}
::placeholder {
  color: var(--layout-color-input);
}

.input input:focus {
  outline: 1px solid var(--layout-color-dark);
}